#logo {
    font-family: 'La Belle Aurore', cursive;
}
.navbar-brand {
	font-size: 30px;font-family: 'Permanent Marker', cursive;
}
.navbar {
  background-color: #506987;
  background: rgba(0,0,0,0.5);
}
.navbar-nav {
  color: white;
}
/*
.navbar-custom {
    background-color: #aaa;
    background: rgba(0,0,0,0.5);
    color:#aaa;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:white;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #aaa;
	background: rgba(0,0,0,0.5);
}

.navbar-custom .navbar-brand {
    color:white;
}*/
.meetup-icon {
	margin-bottom: -15px;
	margin-top: -15px;
	height: 30px;
	width: 40px;
}
.mkp-icon {
	margin-top: -15px;
	height: 50px;
	width: 70px;
}
/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(http://photos3.meetupstatic.com/photos/event/1/e/d/f/600_433447903.jpeg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#who-we-are {
}

#what-we-offer {
  background-color: #506987;
  color: #ffffff;
}
#what-we-offer .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#how-we-do-it {
  background: url(../images/estate.jpg) no-repeat center center fixed; 
  display: table;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#how-it-works {
	background: url(http://upload.wikimedia.org/wikipedia/commons/0/0c/GoldenGateBridge-001.jpg);
	background-size: 100%;
	height:100%;
}

#how-it-works .panel {
  opacity: 0.85;
}

#google_map {
  height: 100%;
}

#contact {
  background-color: #506987;
  color: #ffffff;
}
#contact .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: white;
}