#logo {
    font-family: 'La Belle Aurore', cursive;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/jumbotronbackground.jpg);
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
 .navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}